body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

button {
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
}
